<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>add-edit owners</title>

    <style>

    </style>

</head>
<body>

<form action="#"
      th:action="@{/owners/saveOwner}"
      th:object="${owner}"
      method="post">

<div class="container" style="background-color: white; padding: 10px;
     border-radius: 10px;">

    <input type="hidden" th:field="*{id}">

    <div>
       <label th:text=" 'First name' ">first name</label>
       <input type="text" th:field="*{firstName}"
       style="margin-left: 15px;">
    </div>

    <div style="margin-top: 10px">
        <label th:text=" 'Last name' " >last name</label>
        <input type="text" th:field="*{lastName}"
        style="margin-left: 16px;">
    </div>

    <div style="margin-top: 10px">
        <label th:text=" 'City' " >city</label>
        <input type="text" th:field="*{city}"
               style="margin-left: 57px;">
    </div>

    <div style="margin-top: 10px">
        <label th:text=" 'Address' " >address</label>
        <input type="text" th:field="*{address}"
               style="margin-left: 30px;">
    </div>

    <div style="margin-top: 10px">
        <label th:text=" 'Telephone' " >telephone</label>
        <input type="text" th:field="*{telephone}"
               style="margin-left: 17px;">
    </div>

<button type="submit"
        th:with="text=${owner['new']} ? 'Save Owner' : 'Update Owner'"
        th:text="${text}"
        class="btn btn-primary"
        style="margin-left: 2.4cm; margin-top: 1cm; width: 4.5cm"
        >Save Owner</button>

</div>

</form>

</body>
</html>