<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>find owners</title>

    <style>

    </style>

</head>
<body>

<form action="#"
      th:action="@{/owners}"
      th:object="${owner}" method="get">

<h2 th:text="'Find Owners'"></h2>

<div class="container" style="margin-top: 20px">

    <label th:text="'Last name'">Last name</label>

    <input type="text" th:field="*{lastName}"
    style="width: 500px; margin-left: 20px" >

    <br>
    <input type="submit" value="Find Owner"
       class="btn btn-primary" style="background-color: black;
       margin-left: 92px; margin-top: 10px">

</div>

    <a href="#"
       th:href="@{'/owners/addOwner'}"
       class="btn btn-primary" style="background-color: black;
           margin-left: 10px; margin-top: 50px"
    >Add Owner</a>

</form>

</body>
</html>