<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owner List</title>

    <style>

    </style>

</head>
<body>

<div class="h1">
<h1 th:text=" 'Owners Directory' ">owners list</h1>
</div>

    <table id="owners" class="table table-striped" >
        <thead>
            <tr>
                <th style="width: 150px;">Id</th>
                <th style="width: 150px;">First name</th>
                <th style="width: 150px;">Last name</th>
                <th style="width: 150px;">Action</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="tempOwner : ${owners}" >

                <td th:text="${tempOwner.id}"></td>
                <td th:text="${tempOwner.firstName}"></td>
                <td th:text="${tempOwner.lastName}"></td>
                <td>
                    <a href="#"
                       th:href="@{'/owners/' + ${tempOwner.id}+ '/detail'}"
                       class="btn btn-primary">Details</a>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>