<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>Vets List</title>

    <style>
         </style>

</head>
<body>
<div>
    <h2 th:text=" 'Vets List Directory' ">vets index - list</h2>
<hr>
</div>

    <table  id="vets" class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="tempVet : ${vets}">

                <td th:text="${tempVet.id}"></td>
                <td th:text="${tempVet.firstName}"></td>
                <td th:text="${tempVet.lastName}"></td>

            </tr>
        </tbody>
    </table>
</body>
</html>