<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>Vets List</title>

    <style>
         </style>

</head>
<body>
<div>
    <h2 th:text=" 'Vets List' ">vets index - list</h2>
<hr>
</div>

    <table  id="vets" class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Specialities</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="tempVet : ${vets}">
                <td th:text="${tempVet.firstName}+' '+${tempVet.lastName}"></td>
                <td>
                    <span th:each="speciality:${tempVet.specialities}"
                          th:text="${speciality.description} +' ' "></span>

                    <span th:if="${tempVet?.specialities?.size() ==0}">none</span>
                </td>


            </tr>
        </tbody>
    </table>
</body>
</html>